.kichwa{
    color: #72ede4;
   
    font-family: Orbitron;
    
    font-weight: 900;
    font-size: 15px;
    text-align: center;



    
  
  
}

.kichwa:hover{
    color:
    white;
    text-decoration: underline;
}