body {
  margin: 0;
  font-family: "Poppins" , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #07192f;
}

code {
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
  font-family: 'Semi-bold 600';
  
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
}
